body{
    display: flex;
    flex-direction: column;
    background-color: rgba(169, 169, 169, 0.582);
    margin: 0px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
    
}

.header{
    display: flex;
    background-color: #ab29d6;
    color: antiquewhite;
}

.logo{
    display: block;
}

.links{
    display: flex;
    flex-direction: row;
}

.footer{
    display: block;
    color: white;
    background-color: rgba(32, 35, 37, 0.603);    
    justify-content: center;
    align-items: center;
}