body{
    display: flex;
    flex-direction: column;
    background-color: rgba(169, 169, 169, 0.582);
    margin: 0px;
    justify-content: space-evenly;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
    
}

.header{
    display: flex;
    background-color: #ab29d6;
    color: antiquewhite;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    flex-shrink: 0;
}

ul{
    display: flex;
    justify-self: end;
}

li{
    padding-right: 7px;
}

.description{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.products{
    display: flex;
}

img{
    width: 100px;
    height: auto;
}

.footer{
    display:flex;
    color: white;
    background-color: rgba(32, 35, 37, 0.603);    
    justify-content: center;
    margin-top: auto;
}